$blue-normal: #59c7f9;
$blue-hover: #08a1ef;

$green-normal: #48d5b2;
$green-hover: #18cfa1;

$red-normal: #ff79a2;
$red-hover: #ea1f64;

$orange-normal: #ffc36d;
$orange-normal: #f2a653;

$font-normal: #526069;
$font-light: #76838f;
$font-lighter: #ccd5db;

$bg-light-normal: #f5f9fa;
$bg-light-hover: #f0f3f4;
$bg-dark-normal: #a6b9d3;
$bg-dark-hover: #475975;

$border-radius: 3px;

$border-grey: $font-lighter;